<div class="col-md-6 user-container">
    <h2 class="text-center">Add User</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="nom" placeholder="nom" name="nom" class="form-control"id="nom">
        </div>
        <br/>
        <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" formControlName="prenom" placeholder="prenom" name="prenom" class="form-control"id="prenom">
        </div>
        <br/>
        <div class="form-group">
            <label for="nomMere">NomMere</label>
            <input type="text" formControlName="nomMere" placeholder="nomMere" name="nomMere" class="form-control"id="nomMere">
        </div>
        <br/>
        <div class="form-group">
            <label for="nomPere">NomPere</label>
            <input type="text" fomControlName="nomPere" placeholder="nomPere" name="nomPere" class="form-control"id="nomPere">
        </div>
        <br/>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" placeholder="email" name="email" class="form-control"id="email">
        </div>
        <br/>
        <div class="form-group">
            <label for="matricule">Matricule</label>
            <input type="text" formControlName="matricule" placeholder="matricule" name="matricule" class="form-control"id="matricule">
        </div>
        <br/>
        <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="phone" formControlName="telephone" placeholder="telephone" name="telephone" class="form-control"id="telephone">
        </div>
        <br/>
        <div class="form-group">
            <label for="lieuNaissance">LieuNaissance</label>
            <input type="text" formControlName="lieuNaissance" placeholder="lieuNaissance" name="lieuNaissance" class="form-control"id="lieuNaissance">
        </div>
        <br/>
        <div class="form-group">
            <label for="dateNaissance">DateNaissance</label>
            <input type="date" formControlName="dateNaissance" placeholder="dateNaissance" name="dateNaissance" class="form-control"id="dateNaissance">
        </div>
        <br/>
        <div class="form-group">
            <label for="dateEntree">DateEntree</label>
            <input type="date" formControlName="dateEntree" placeholder="dateEntree" name="dateEntree" class="form-control"id="dateEntree">
        </div>
        <br/>
        <div class="form-group">
            <label for="centreFormation">CentreFormation</label>
            <input type="text" formControlName="centreFormation" placeholder="centreFormation" name="centreFormation" class="form-control"id="centreFormation">
        </div>
        <br/>
        <div class="form-group">
            <label for="region">Region</label>
            <input type="text" formControlName="region" placeholder="region" name="region" class="form-control"id="region">
        </div>
        <br/>
        <div class="form-group">
            <label for="arrondissement">Arrondissement</label>
            <input type="text" formControlName="arrondissement" placeholder="arrondissement" name="arrondissement" class="form-control"id="arrondissement">
        </div>
        <br/>
      <button class="btn btn-success">Ajouter</button>
    </form>
</div>
<router-outlet></router-outlet>