<div class="card" style="width: 80%">
  <div class="card-header bg-transparent">
    <div class="card-text border-0">
      <h2 class="mb-0">Formulaire d'ajout des personnels a partir d'un fichier</h2>
    </div>
  </div>
  <div class="card-body mx-5">
    <form role="form">
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-image"></i></span>
          </div>
          <input class="form-control" placeholder="Fichier" type="file">
        </div>
      </div>

      <div class="text-center">
        <a href="users/users"  class="btn btn-warning mt-4">Retour</a>
        <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
