<div class="row"><h1>Utillisateurs</h1></div>
<!-- For displaying all users in a tables-->
<div class="row" *ngIf="allMsg !== ''">  
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{allMsg}}
  </div>
</div>
<div class="row">
  <table class="table table-sm table-bordered table-striped" style="width: 80%">
    <tr>
      <th>id</th>
      <th>nom</th>
      <th>prenom</th>
      <th>nomMere</th>
      <th>nomPere</th>
      <th>email</th>
      <th>matricule</th>
      <th>telephone</th>
      <th>lieuNaissance</th>
      <th>dateNaissance</th>
      <th>dateEntree</th>
      <th>centreFormation</th>
      <th>region</th>
      <th>arrondissement</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.nomMere}}</td>
      <td>{{user.nomPere}}</td>
      <td>{{user.email}}</td>
      <td>{{user.matricule}}</td>
      <td>{{user.telephone}}</td>
      <td>{{user.lieuNaissance}}</td>
      <td>{{user.dateNaissance | date:'dd/MM/yyyy'}}</td>
      <td>{{user.dateEntree | date:'dd/MM/yyyy'}}</td>
      <td>{{user.centreFormation}}</td>
      <td>{{user.region}}</td>
      <td>{{user.arrondissement}}</td>
      <td>      
        <button class="btn btn-sm btn-success" (click)="updateUser(user.id)"
        data-toggle="modal" data-target="#updateModal">UU</button>
        <button class="btn btn-sm ml-3 btn-danger" (click)="deleteUser(user.id)">DU</button>          
      </td>
    </tr>
  </table>
  {{allMsg}}
  <a class="nav-link" routerLink="/app-user-add">
    <button class="btn btn-success">Creer un utilisateur</button>
  </a>
</div>
<!-- Modal update-->
<div class="modal" id="updateModal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update User</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-sm" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">    
        <div class="form-group">
          <label for="id">User ID</label>
          <input type="text" class="form-control" id="id"
            formControlName="id">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom"formControlName="nom">       
          <div class="alert alert-danger" *ngIf="updateForm.get('nom').invalid 
            && updateForm.get('nom').touched">
            <div *ngIf="updateForm.get('nom').errors.required">
              nom est requis.
            </div>
            <div *ngIf="updateForm.get('nom').errors.minlength">
              nom doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom"formControlName="prenom">       
          <div class="alert alert-danger" *ngIf="updateForm.get('prenom').invalid 
            && updateForm.get('prenom').touched">
            <div *ngIf="updateForm.get('prenom').errors.required">
              preNom est requis.
            </div>
            <div *ngIf="updateForm.get('prenom').errors.minlength">
              prenom doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="nomPere">NomPere</label>
          <input type="text" class="form-control" id="nomPere"formControlName="nomPere">       
          <div class="alert alert-danger" *ngIf="updateForm.get('nomPere').invalid 
            && updateForm.get('nomPere').touched">
            <div *ngIf="updateForm.get('nomPere').errors.required">
              nomPere est requis.
            </div>
            <div *ngIf="updateForm.get('nomPere').errors.minlength">
              nomPere doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="nomMere">NomMere</label>
          <input type="text" class="form-control" id="nomMere"formControlName="nomMere">       
          <div class="alert alert-danger" *ngIf="updateForm.get('nomMere').invalid 
            && updateForm.get('nomMere').touched">
            <div *ngIf="updateForm.get('nomMere').errors.required">
              nomPere est requis.
            </div>
            <div *ngIf="updateForm.get('nomMere').errors.minlength">
              nomMere doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"formControlName="email">       
          <div class="alert alert-danger" *ngIf="updateForm.get('email').invalid 
            && updateForm.get('email').touched">
            <div *ngIf="updateForm.get('email').errors.required">
              email est requis.
            </div>
            <div *ngIf="updateForm.get('email').errors.minlength">
              email doit correspondre au format : aaaaa@bbbb.ccc.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" id="telephone"formControlName="telephone">       
          <div class="alert alert-danger" *ngIf="updateForm.get('telephone').invalid 
            && updateForm.get('telephone').touched">
            <div *ngIf="updateForm.get('telephone').errors.required">
              telephone est requis.
            </div>
            <div *ngIf="updateForm.get('telephone').errors.minlength">
              telephone doit correspondre au format : +000 xxxxxxxxx.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="matricule">Matricule</label>
          <input type="text" class="form-control" id="matricule"formControlName="matricule">       
          <div class="alert alert-danger" *ngIf="updateForm.get('matricule').invalid 
            && updateForm.get('prenom').touched">
            <div *ngIf="updateForm.get('matricule').errors.required">
              matricule est requis.
            </div>
            <div *ngIf="updateForm.get('matricule').errors.minlength">
              matricule doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="lieuNaissance">LieuNaissance</label>
          <input type="text" class="form-control" id="lieuNaissance"formControlName="lieuNaissance">       
          <div class="alert alert-danger" *ngIf="updateForm.get('lieuNaissance').invalid 
            && updateForm.get('lieuNaissance').touched">
            <div *ngIf="updateForm.get('lieuNaissance').errors.required">
              lieuNaissance est requis.
            </div>
            <div *ngIf="updateForm.get('lieuNaissance').errors.minlength">
             lieuNaissance doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="DateNaissance">DateNaissance</label>
          <input type="date" class="form-control" id="dateNaissance"
          formControlName="dateNaissance">                        
        </div>
        <div class="form-group">
          <label for="dateEntree">DateEntree</label>
          <input type="date" class="form-control" id="dateEntree"
          formControlName="dateEntree">                        
        </div>
        <div class="form-group">
          <label for="region">Region</label>
          <input type="text" class="form-control" id="region"formControlName="region">       
          <div class="alert alert-danger" *ngIf="updateForm.get('region').invalid 
            && updateForm.get('region').touched">
            <div *ngIf="updateForm.get('region').errors.required">
              region est requis.
            </div>
            <div *ngIf="updateForm.get('region').errors.minlength">
              region doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="arrondissement">Arrondissement</label>
          <input type="text" class="form-control" id="arrondissement"formControlName="arrondissement">       
          <div class="alert alert-danger" *ngIf="updateForm.get('arrondissement').invalid 
            && updateForm.get('arrondissement').touched">
            <div *ngIf="updateForm.get('arrondissement').errors.required">
              arrondissement est requis.
            </div>
            <div *ngIf="updateForm.get('arrondissement').errors.minlength">
              arrondissement doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
        <div class="form-group">
          <label for="centreFormation">CentreFormation</label>
          <input type="text" class="form-control" id="centreFormation"formControlName="centreFormation">       
          <div class="alert alert-danger" *ngIf="updateForm.get('centreFormation').invalid 
            && updateForm.get('centreFormation').touched">
            <div *ngIf="updateForm.get('centreFormation').errors.required">
              centreFormation est requis.
            </div>
            <div *ngIf="updateForm.get('centreFormation').errors.minlength">
              centreFormation doit containir au moins 5 caractères.
            </div>
          </div>                      
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>