<div class="card">
    <div class="card-header bg-transparent">
      <div class="row">
        <div class="col-md-6 col-xl-4 mx-2">
          <a href="legions/add/legion" class="btn btn-icon-clipboard"><i class="ni ni-fat-add text-primary"></i><span>Nouvelle Legion</span></a>
        </div>
        <div class="col-md-6 col-xl-5 mx-2">
          <a href="legions/add/legions" class="btn btn-icon-clipboard"><i class="ni ni-fat-add text-primary"></i><span>Nouvelles Legions</span></a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-header border-0">
        <h3 class="mb-0">Liste de toutes les legions</h3>
      </div>
      <!-- Light table -->
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col" class="sort" data-sort="name">Nom</th>
            <th scope="col" class="sort" data-sort="prenom">Code</th>
            <th scope="col" class="sort" data-sort="matricule">Ville</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody class="list">
          <tr *ngFor="let item of lists | paginate: {itemsPerPage: 10, currentPage: p}| filter:searchItem ">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <span class="name mb-0 text-sm">{{item.nom}}</span>
                </div>
              </div>
            </th>
            <td class="budget">
              {{item.code}}
            </td>
            <td>{{item.ville}} </td>
            <td class="text-right">
              <div class="dropdown">
                <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" href="groupements/groupements/{{item.id}}">View Groupments &nbsp; <i class="fas fa-eye"></i></a>
                  <a class="dropdown-item" href="legions/update/legion/{{item.id}}">Update &nbsp; <i class="fas fa-edit"></i></a>
                  <a class="dropdown-item" href="#">Delete &nbsp; <i class="fas fa-trash"></i></a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Card footer -->
      
    </div>
    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </nav>
      <!--<nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>-->
    </div>
  
  </div>
