<div class="card" style="width: 80%">
  <div class="card-header bg-transparent">
    <div class="card-text border-0">
      <h2 class="mb-0">Formulaire d'ajout d'un personnel</h2>
    </div>
  </div>
  <div class="card-body mx-5">
    <form role="form" [formGroup]="form" (submit)="onSubmit()" >
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
          </div>
          <input class="form-control" placeholder="Nom" formControlName="nom" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
          </div>
          <input class="form-control" placeholder="Prenom" formControlName="prenom" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
          </div>
          <input class="form-control" placeholder="Nom du pere" formControlName="nomPere" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-vector"></i></span>
          </div>
          <select formControlName="sexe" class="form-control" id="">
            <option value="">-- Sexe --</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
          </div>
          <input class="form-control" formControlName="nomMere" placeholder="Nom de la mere" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" placeholder="Email" formControlName="email" type="email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-key-25"></i></span>
          </div>
          <input class="form-control" placeholder="Matricule" formControlName="matricule" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
          </div>
          <input class="form-control" placeholder="Telephone" formControlName="telephone" type="tel">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
          </div>
          <select formControlName="province" class="form-control" id="">
            <option value="">-- Province --</option>
            <option *ngFor="let province of provinces" value="{{province}}">{{province}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
          </div>
          <select formControlName="commune" class="form-control" id="">
            <option value="">--Commune--</option>
            <option *ngFor="let commune of communes" value="{{commune}}">{{commune}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control" formControlName="dateNaissance" placeholder="Date de naissance" type="date">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
          </div>
          <input class="form-control" formControlName="dateEntree" placeholder="Date d'entrer dans l'armee" type="date">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-shop"></i></span>
          </div>
          <select formControlName="centreFormation" class="form-control" id="">
            <option value="">--Centre de formation--</option>
            <option *ngFor="let centre of centres" value="{{centre}}">{{centre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-vector"></i></span>
          </div>
          <select formControlName="statusMatrimoniale" class="form-control" id="">
            <option value="">-- Status Matrimoniale --</option>
            <option value="Celibataire">Celibataire</option>
            <option value="Marie">Marie</option>
            <option value="Divorce">Divorce</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-merge input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-image"></i></span>
          </div>
          <input class="form-control" name="profile" placeholder="Photo de la personne" (change)="onFilesSelect($event)"  type="file">
        </div>
      </div>

      <div class="text-center">
        <a href="users/users"  class="btn btn-warning mt-4">Retour</a>
        <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
